:root {
    --purple-magenta: #AD1FEA;
    --blue-indigo: #4661E6;
    --dark-blue: #373F68;
    --white: #FFFFFF;
    --light-purple: #F2F4FF;
    --lighter-blue: #F7F8FD;
    --dark-slate: #3A4374;
    --slate-gray: #647196;
    --pale-orange: #F49F85;
    --sky-blue: #62BCFA;
    --lighter-purple: #C75AF6;
    --light-blue: #7C91F9;
    --dark-lavender: #656EA3;
    --red: #D73737;
    --pale-red: #E98888;
}
