@font-face {
    font-family: 'Jost';
    src: url('Jost-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Jost';
    src: url('Jost-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Jost';
    src: url('Jost-Bold.ttf');
    font-weight: 700;
}
